section.feauture
	+gl_title('For all devices', 'Unique design')
	.feauture_tablet-img-wrp
		img.feauture_tablet-img(src='i/tablet.png' width='477' height='713')
	.feauture_phone-img-wrp
		img.feauture_phone-img(src='i/phone.png' width='274' height='476')