extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Title of the page'}
	- aboutItemsArray = [{img_url: 'i/about-1.jpg',icon_name: 'mens',text: 'Super team'},{img_url: 'i/about-2.jpg',icon_name: 'mens',text: 'Super team'},{img_url: 'i/about-3.jpg',icon_name: 'mens',text: 'Super team'},{img_url: 'i/about-1.jpg',icon_name: 'mens',text: 'Super team'}]
	- factsArray = [{number: '42',text: 'Web Design Projects'},{number: '123',text: 'Happy client'},{number: '15',text: 'Award winner'},{number: '99',text: 'Cup of coffee'},{number: '24',text: 'Members'}]
	- servicesItemsArray = [{title: 'Photography',text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'Web Design',text: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'Creativity',text: 'Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'seo',text: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.'},{title: 'Css/Html',text: 'Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.'},{title: 'digital',text: 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'Photography',text: 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'}]
	- services2AccordionArray = [{title: 'Photography', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'},{title: 'creativity', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'},{title: 'web design', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'}]
	- quoteSliderArray = [{img: 'i/icons/quote.svg', text: '“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”', xsign: 'Jon Doe'},{img: 'i/icons/quote.svg', text: '“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”', xsign: 'Jon Doe'},{img: 'i/icons/quote.svg', text: '“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”', xsign: 'Jon Doe'}]
	- ourteamArray = [{img: 'i/team-1.jpg',name: 'Matthew Dix',profession: 'Graphic Design',facebook: '#',twitter: '#',pinterest: '#',instagram: '#'},{img: 'i/team-2.jpg',name: 'Christopher Campbell',profession: 'Branding/UX design',facebook: '#',twitter: '#',pinterest: '#',instagram: '#'},{img: 'i/team-3.jpg',name: 'Michael Fertig ',profession: 'Developer',facebook: '#',twitter: '#',pinterest: '#',instagram: '#'},{img: 'i/team-2.jpg',name: 'Christopher Campbell',profession: 'Branding/UX design',facebook: '#',twitter: '#',pinterest: '#',instagram: '#'}]
	- logosArray = [{img: 'i/logo-1.png'},{img: 'i/logo-2.png'},{img: 'i/logo-3.png'},{img: 'i/logo-4.png'},{img: 'i/logo-5.png'},{img: 'i/logo-6.png'},]
block content_block
	include blocks/_about
	include blocks/_facts
	include blocks/_services
	include blocks/_feauture
	include blocks/_service2
	include blocks/_quote
	include blocks/_ourteam
	include blocks/_logos


