extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Title of the page'}
block content_block
	include blocks/_about
	include blocks/_facts
	include blocks/_services
	include blocks/_feauture
	include blocks/_service2


