//--------------------------------------------------------------global vars
- production = false;
- jQuery = true;
- TweenMax = true;

//--------------------------------------------------------------forms
- default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', elem_class:'default_mod'}
- default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', elem_class:'default_mod'}
- default_checkbox = {block_class_mod:'check_1_mod',class_mod:'check_1_mod', elem_class:'check_1_mod'}
- default_radio = {block_class_mod:'radio_1_mod',class_mod:'radio_1_mod', elem_class:'radio_1_mod'}
//--------------------------------------------------------------forms

- headerMenuArray = {items:[{title:'About',active:true},{title:'Service',active:false},{title:'Work',active:false},{title:'Blog',active:false},{title:'Contact',active:false}],gl_class: 'main_menu',gl_mod:'header_mod'}
- headerSliderArray = [{text_top: 'Creative Template',text_bottom: 'Welcome to MoGo',text_btn: 'Learn more',text_dot: 'Intro'},{text_top: 'What we do',text_bottom: 'Some of our work',text_btn: 'Our works',text_dot: 'Work'},{text_top: 'What we do',text_bottom: 'Story about us',text_btn: 'Learn more',text_dot: 'About'},{text_top: 'Contact us',text_bottom: 'Welcome to MoGo',text_btn: 'Map',text_dot: 'Contacts'}]
- aboutItemsArray = [{img_url: 'i/about-1.jpg',icon_name: 'mens',text: 'Super team'},{img_url: 'i/about-2.jpg',icon_name: 'mens',text: 'Super team'},{img_url: 'i/about-3.jpg',icon_name: 'mens',text: 'Super team'},{img_url: 'i/about-1.jpg',icon_name: 'mens',text: 'Super team'}]
- factsArray = [{number: '42',text: 'Web Design Projects'},{number: '123',text: 'Happy client'},{number: '15',text: 'Award winner'},{number: '99',text: 'Cup of coffee'},{number: '24',text: 'Members'}]
- servicesItemsArray = [{title: 'Photography',text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'Web Design',text: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'Creativity',text: 'Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'seo',text: 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.'},{title: 'Css/Html',text: 'Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.'},{title: 'digital',text: 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'},{title: 'Photography',text: 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'}]